@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>모든 쇼핑몰의 할인 정보를 담았습니다.</h1>
    <p>확인하려면 <a asp-area="" asp-controller="Articles" asp-action="Index">지금 시작하세요</a>.</p>
</div>
